<!doctype html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<h1>This is About us!</h1>
	<p>My name is Ali!: I am the web app guy!</p>
	<p>His name is Sina: He is the mobile app guy!</p>
</body>
</html>