<!doctype html>
<html>
<head>
	<title>Sina Ali Test</title>
</head>
<body>
	<h1>Welcome to Sina and Ali Shity home page</h1>
	<p>In this app my web app supposed to talks to his mobile app!</p>
	
</body>
</html>